<p>Frequently asked questions about COVID-19 </p>
<p>WHAT ARE THE DIFFERENT TYPES OF COVID-19 VACCINES?</p>
<p style = "position:relative; left:80px; top:2px;background-color:yellow;">There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and nucleic acid (RNA and DNA), each of which protects people, but by producing immunity in a slightly different way.</p>
<img src="assets/img/cv1.jpg" height="400" width="500" style = "position:relative; left:80px;"> 
<p>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-(covid-19)-vaccines?adgroupsurvey={adgroupsurvey}&gclid=Cj0KCQiAubmPBhCyARIsAJWNpiM8t3t1AshAi9tpyv_0RkeYX9PIFyrWuj0MeM7SpRUda9QlqDqmN6MaAnqiEALw_wcB">Click here to know more</a>
</p> 
